.tab{
    max-width: 50vw;
    width: 50vw;
    height: 70vh;
    margin-top: 1rem;
    overflow-y: hidden;
    /* border: 1px solid rgb(209, 209, 209); */
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}
